Flask==3.0.3
python-dotenv==0.19.2
openai==1.75.0
PyAudio==0.2.14
opencv-python==4.11.0.86
numpy==1.26.4
dotenv==0.9.9
djitellopy==2.5.0
transformers
torch
pillow
ultralytics==8.1.28

# clip
git+https://github.com/openai/CLIP.git

keyboard==0.13.5